$main-font: 'Rajdhani', sans-serif;

$dark-theme-bg: #272253;
$dark-theme-bg-hover: #342e6b;
$dark-theme-block-bg: #1E1A42;
$dark-theme-active-button: linear-gradient(120deg, #ffffff 0%, #8abbec 70%);

$light-theme-preloader-color: #6c70fe;
$light-theme-active-button: linear-gradient(120deg, #a1a4fe 0%, #6c70fe 70%);

$main-text-color: #333;
$grey-color: #bbb;
$white-color: #fff;

$transition: 0.3s;
$box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);