.content-wrapper {
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.52);
}

.table {
  &-wrapper {
    position: relative;
    background: #1E1A42;
    padding: 0 1rem;
    min-height: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &-coins {
    width: 100%;
    background: #1E1A42;
    color: #fff;
    font-weight: 300;
    &__row {
      text-align: right;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      font-weight: 600;
      &:last-child {
        border-bottom: 0;
      }
    }
    &__column {
      padding: 0.5rem;
      vertical-align: middle;
      &:first-child {
        display: flex;
        text-align-last: left;
      }
    }
    &__sort {
      cursor: pointer;
      &:after {
        content: '\e900';
        font-family: 'IconFont';
        font-size: 0.8rem;
        margin-left: 10px;
        color: #b7b7b7;
      }
    }
    &__percent {
      display: inline-block;
      text-align: center;
      padding: 0.5rem 0.2rem;
      width: 90px;
      border-radius: 50px;
      &_green {
        @extend .table-coins__percent;
        background: rgba(5, 161, 102, 0.2);
        color: rgb(20, 161, 131);
      }
      &_red {
        @extend .table-coins__percent;
        background: rgba(194, 53, 53, 0.2);
        color: rgb(201, 94, 94);
      }
      &_white {
        @extend .table-coins__percent;
        background: rgba(223, 223, 223, 0.2);
        color: rgb(255, 255, 255);
      }
    }
    &__icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 1rem;
    }
    &__names {
      display: flex;
      flex-direction: column;
    }
    &__fullName {
      font-weight: 400;
      color: #b7b7b7;
      font-size: 0.9rem;
    }
  }
}

th.table-coins__column {
  position: relative;
  padding-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: #b7b7b7;
}

.currency {
  &-list {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: #1E1A42;
    border-bottom: 1px solid #2E2A5E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &__item {
      padding: 0.5rem 1.5rem;
      margin-right: 1rem;
      border-radius: 5px;
      background: #272253;
      color: #ccc;
      font-weight: 600;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background: #342e6b;
      }
      &_active {
        @extend .currency-list__item;
        background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(138,187,236,1) 70%);
        color: #000;
        font-weight: 700;
        &:hover {
          background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(138,187,236,1) 70%);
          color: #000;
          font-weight: 700;
        }
      }
    }
  }
}