@import "../../assets/scss/variables.scss";

.content-wrapper {
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.52);
}

.table {
  &-wrapper {
    position: relative;
    padding: 0 1rem;
    min-height: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: $transition;
    &_dark {
      background: #1E1A42;
    }
    &_light {
      background: $white-color;
    }
  }

  &-coins {
    width: 100%;
    font-weight: 300;
    transition: $transition;
    &_dark {
      color: $white-color;
    }
    &_light {
      color: $main-text-color;
    }
    &__row {
      text-align: right;
      font-weight: 600;
      &:last-child {
        border-bottom: 0;
      }
      &_dark {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
      &_light {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    &__column {
      padding: 0.5rem;
      vertical-align: middle;
      &:first-child {
        display: flex;
        text-align-last: left;
      }
    }
    &__sort {
      cursor: pointer;
      &:after {
        content: '\e900';
        font-family: 'IconFont';
        font-size: 0.8rem;
        margin-left: 10px;
        color: $grey-color;
      }
    }
    &__percent {
      display: inline-block;
      text-align: center;
      padding: 0.5rem 0.2rem;
      width: 90px;
      border-radius: 50px;
      &_green {
        @extend .table-coins__percent;
        background: rgba(5, 161, 102, 0.2);
        color: rgb(20, 161, 131);
      }
      &_red {
        @extend .table-coins__percent;
        background: rgba(194, 53, 53, 0.2);
        color: #c95e5e;
      }
      &_white {
        @extend .table-coins__percent;
        transition: $transition;
        &_dark {
          background: rgba(223, 223, 223, 0.2);
          color: $white-color;
        }
        &_light {
          background: rgba(223, 223, 223, 0.5);
          color: $main-text-color;
        }
      }
    }
    &__icon {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 1rem;
    }
    &__names {
      display: flex;
      flex-direction: column;
    }
    &__fullName {
      font-weight: 400;
      color: $grey-color;
      font-size: 0.9rem;
    }
  }
}

th.table-coins__column {
  position: relative;
  padding-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  color: $grey-color;
}

.currency {
  &-list {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: $transition;
    &_dark {
      background: #1E1A42;
      border-bottom: 1px solid #2E2A5E;
    }
    &_light {
      background: $white-color;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__item {
      padding: 0.5rem 1.5rem;
      margin-right: 1rem;
      border-radius: 5px;
      color: $grey-color;
      font-weight: 700;
      transition: $transition;
      cursor: pointer;
      &_dark {
        background: #272253;
        &:hover {
          background: $dark-theme-bg-hover;
        }
        &.currency-list__item_active {
          color: $main-text-color;
        }
      }
      &_light {
        background: #F6F5FA;
        &:hover {
          background: #eae9f1;
        }
        &.currency-list__item_active {
          color: $white-color;
          &:before {
            opacity: 0;
          }
        }
      }
      &_active {
        @extend .currency-list__item;
        position: relative;
        z-index: 1;
        background: $light-theme-active-button;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          transition: $transition;
          background: $dark-theme-active-button;
        }
        &:hover {
          background: $light-theme-active-button;
        }
      }
    }
  }
}